{% extends 'news/base.html' %}

{% load static %}
{% block title %} Parolni tiklash {% endblock title %}

{% block content %}
<div style="margin:200px 30px 10px 30px;">

    <h1>Parolni o'zgartirish emaili yuborildi </h1>
    <p>Parolni tiklash bo'yicha ko'rsatmalar sizning elektron pochtangizga yuborildi. Iltimos, elektron pochtangizni tekshiring.</p>
    <p> Agar elektron pochtani olmagan bo'lsangiz, spam yoki junk papkalarini tekshiring.</p>
    <a href="{% url 'login' %}">Kirish sahifasiga qaytish</a>
</div>
{% endblock content %}